.wpd {
    position: absolute;
    width: 189px;
    height: 169px;
    border-radius: 2px;
    background-image: url("/img/354052_1x1_bg.png");
}

.wpd .header {
    position: relative;
    height: 22px;
}


.wpd .header .next,
.wpd .header .previous,
.wpd .header .title{
    display: block;
    white-space: nowrap;
    text-decoration: none;
    height: 22px;
}


.wpd .header .title {
    text-align: center;
    margin: 0px 24px;
}

.wpd .header .next{
    color: #BBDDF8;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.4em;
}

.wpd .header .previous{
    color: #BBDDF8;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.4em;
}


.wpd .header .disabled,
.wpd .header .title.disabled:hover,
.wpd .header .previous.disabled:hover,
.wpd .header .next.disabled:hover{
    cursor: default;
}

.wpd .header .next:hover,
.wpd .header .previous:hover,
.wpd .header .title:hover{
    border-bottom: 4px solid #F47B51;
}


.wpd .header .next:active,
.wpd .header .previous:active,
.wpd .header .title:active
{
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
}

.wpd .header .title:focus
{
    outline: 0;
    background: #fafafa;
}

.wpd .header .titleText {
    color: #BBDDF8;
    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 1.8em;
}
.wpd .header .next,
.wpd .header .previous,
.wpd .header .closeButton {
    position: absolute;
    width: 24px;
    text-align: center;
    top: 0px;
    cursor: pointer;
    
}
.wpd .header .previous {
	left: 0px;
}
.wpd .header .next {
	right: 0px;
}
.wpd .header .closeButton {
    display: none;
	right: 5px;
}

.wpd .header .upArrow{
    font-size: 85%;
    vertical-align: 2px;
    padding-left: 5px;

}

.wpd .body {
	position: relative;
	top: 0px;
	left: 0px;
	width: 208px;
	height: 193px;
	overflow: hidden;
}

.wpd .time {
	width: 100%;
	height: 100%;
}

.wpd .time .hour,
.wpd .time .separator,
.wpd .time .minutes,
.wpd .time .ampm {
    width: 66px;
    font-size: 3em;
    position: absolute;
    top: 15px;
    text-align: center;
    margin-left: -9px;
    height: 67px;
    color: #555;
}

.wpd .time .hour,
.wpd .time .minutes,
.wpd .time .ampm {
    
}

.wpd .time .hour {
	left: 10px;
}
.wpd .time .separator {
    width: 10px;
    left: 71px;
    top: 14px;
    color: #FFF;
    margin-left: -2px;
    font-size: 3.5em;
}

.wpd .time .minutes {
	left: 90px;
}

.wpd .time .ampm {
    left: 150px;
}

.wpd .time .ok {
    position: absolute;
    top: 102px;
    width: 145px;
    left: 22px;
}

.wpd .days .day {
    float: left;
    cursor: pointer;
    text-align: center;
    width: 27px;
    overflow: hidden;
    height: 21px;
    color: #fff;
    line-height: 1.9em;
}

.wpd .days .day0 {
	margin-right: 0;
}

.wpd .days .week5 .day {
	margin-bottom: 0;
}

.wpd .days .title {
    cursor: default;
    color: #BBDDF8;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.8em;
}

.wpd .days .otherMonth {
    font-weight: normal;
    color: #888;
}

.wpd .months .month {
    float: left;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    height: 36.75px;
    width: 62.3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 3.2em;
}

.wpd .months .month3,
.wpd .months .month6,
.wpd .months .month9,
.wpd .months .month12 {
	margin-right: 0;
	width: 64px;
}

.wpd .months .month10,
.wpd .months .month11,
.wpd .months .month12 {
	margin-bottom: 0;
}

.wpd .years .year {
    float: left;
    cursor: pointer;
    text-align: center;
    width: 63px;
    overflow: hidden;
    height: 147px;
    line-height: 12em;
    color: #fff;
}

.wpd .years .year3,
.wpd .years .year7,
.wpd .years .year11,
.wpd .years .year15,
.wpd .years .year19 {
	margin-right: 0;
	width: 47px;
}

.wpd .years .year16,
.wpd .years .year17,
.wpd .years .year18,
.wpd .years .year19 {
    margin-bottom: 0;
    height: 26px;
}

.wpd .selected {
    background: rgb(244, 123, 81) none repeat scroll 0% 0%;
    font-weight: 900;
}

.wpd .unavailable {
	background: #edd !important;
	color: #b88 !important;
	cursor: default !important;
}

.wpd .days .week .day:hover,
.wpd .months .month:hover,
.wpd .years .year:hover {
    color: #000 !important;
    background: #22A8F5 none repeat scroll 0% 0%;
    font-weight: 900;
}